type=dhcp-client
hostname={{ hostname }}
dns-primary=8.8.8.8
dns-secondary=8.8.4.4
panorama-server=cloud
vm-series-auto-registration-pin-id={{ pin_id }}
vm-series-auto-registration-pin-value={{ pin_value }}
dgname={{ folder_name }}
