[Unit]
Description=Install Capcom Victim Services on First Boot
After=multi-user.target
ConditionPathExists=!/var/ossec/.capcom_installed

[Service]
Type=oneshot
ExecStart=/opt/purple-team/scripts/capcom-install.sh
EnvironmentFile=/etc/environment.wazuh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target